<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">


<dom-module id="apollo-toolbar">
    <template>
        <paper-toolbar class="tall">
            <paper-icon-button icon="menu"></paper-icon-button>
            <span class="title"><h2>Apollo - Registration POC</h2></span>
            <span class="middle title"><h4>Client Consumer Screen</h4></span>
            <paper-icon-button icon="refresh"></paper-icon-button>
            <paper-icon-button icon="add">+</paper-icon-button>
        </paper-toolbar>
    </template>
    <script>
    Polymer({
        is: "apollo-toolbar",
    });
    </script>
</dom-module>
