<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-date-picker-item/paper-date-picker-item.html">

<link rel="import" href="../apollo-style/apollo-style.html">

<script src="../../bower_components/moment/min/locales.js"></script>

<dom-module id="self-registration">
    <template>
        <style is="custom-style">
        paper-dropdown-menu {
            margin-right: 1rem;
            --paper-input-color: var(--apollo-primary-color);
            --paper-input-container-color: var(--apollo-primary-color);
            --paper-input-container-focus-color: var(--apollo-accent-color);            
        }
        
        paper-input {
            max-width: 400px;
            margin-right: 1rem;
            --paper-input-color: var(--apollo-primary-color);
            --paper-input-container-color: var(--apollo-primary-color);
            --paper-input-container-focus-color: var(--apollo-accent-color);
            --iron-icon-1 {
                background: var(--apollo-primary-color);
            }
        }
        
        paper-card {
            color: var(--apollo-primary-color);
            --paper-card-header-color: white;
            @apply(--layout-vertical);
            @apply(--layout-wrap);
            box-sizing: border-box;
            flex: 0 0 auto;
        }
        
        .horizontal-section-container {
            @apply(--layout-horizontal);
            @apply(--layout-left-justified);
            @apply(--layout-wrap);
        }
        
        .centered {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
        
        paper-checkbox.blue {
            --paper-checkbox-checked-color: var(--apollo-accent-color);
            --paper-checkbox-checked-ink-color: var(--apollo-accent-color);
            --paper-checkbox-unchecked-color: var(--apollo-accent-color);
            --paper-checkbox-unchecked-ink-color: var(--apollo-accent-color);
            --paper-checkbox-label-color: var(--apollo-primary-color);
            margin-top: 1.5rem;
        }

        .paper-date-picker-item > paper-item-body {
            color: var(--apollo-primary-color);
        }
        </style>
        <div class="centered">
            <paper-card class="light" heading="Remote Web Component Form" elevation="3">
                <div class="horizontal-section">
                    <div class="card-content">
                        <div class="horizontal-section-container">
                            <paper-dropdown-menu label="Title" class="custom" herizontal-align bind-value="{{title}}">
                                <paper-listbox class="dropdown-content">
                                    <paper-item>""</paper-item>
                                    <paper-item>Mr</paper-item>
                                    <paper-item>Mrs</paper-item>
                                    <paper-item>Ms</paper-item>
                                    <paper-item>Dr</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <paper-input label="First Name" bind-value="{{firstName}}"></paper-input>
                            <paper-input label="Last Name" bind-value="{{lastName}}"></paper-input>
                        </div>
                    </div>
                    <paper-input label="Email" id="inputWithButton" bind-value="{{email}}">
                        <iron-icon icon="mail" prefix></iron-icon>
                    </paper-input>
                    <paper-input label="Street Address" bind-value="{{street}}"></paper-input>
                    <paper-input label="City" bind-value="{{city}}"></paper-input>
                    <paper-dropdown-menu label="State" class="custom" herizontal-align bind-value="{{state}}">
                        <paper-listbox class="dropdown-content">
                            <paper-item>AL</paper-item>
                            <paper-item>CA</paper-item>
                            <paper-item>IL</paper-item>
                            <paper-item>MN</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-input label="Zip" bind-value="{{zipcode}}"></paper-input>
                    <paper-input label="Phone" bind-value="{{phone}}"></paper-input>
                    <paper-date-picker-item icon="icons:date-range" placeholder="Select Date of Birth" date="{{dob}}" date-format="ll"></paper-date-picker-item>
                </div>
                <div>
                    <paper-checkbox checked class="blue">
                        Yes! Send me announcements by email.
                    </paper-checkbox>
                </div>
                <div>
                    <paper-checkbox checked class="blue">
                        Yes! Please call me with vital updates.
                    </paper-checkbox>
                </div>
            </paper-card>
        </div>

        <iron-ajax id="profileService" method="POST" content-type="application/json" body="{{profile}}" url="http://localhost:5555/api/profile" handle-as="json" on-response="handleResponse" debounce-duration="300"></iron-ajax>

    </template>
    <script>
    Polymer({
        is: "self-registration",

        properties: {
            profile: {
                type: Object,
                notify: false,
                reflectToAttribute: false
            },
            remoteProfile: {
                type: Object,
                notify: false,
                reflectToAttribute: false
            }
        },

        handleClick: function(e, detail) {
            var person = {
                firstName: this.firstName,
                middleName: this.middleName,
                lastName: this.lastName,
                email: this.email,
                street: this.street,
                city: this.city,
                state: this.state,
                zip: this.zipcode
            };
            this.profile = person;

            var service = document.querySelector('#profileService');
            service.generateRequest();
        },

        handleResponse: function(e, res) {
            this.remoteProfile = res.parseResponse();
            this.fire('profileEvent', this.remoteProfile);
        }
    });
    </script>
</dom-module>
