<!doctype html>
<link rel="import" href="../../bower_components/iron-validator-behavior/iron-validator-behavior.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../../bower_components/paper-password-input/min-length-validator.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">

<link rel="import" href="./apollo-passwords-validator.html">

<dom-module id="apollo-password">
    <template>
         <apollo-passwords-validator id="apollo-passwords-validator" password="[[user-password]]"></apollo-passwords-validator>

        <paper-password-input auto-validate required name="user-password" id="user-password" label="Password" value="{{user-password}}"></paper-password-input>

        <paper-password-input class="apollo" id="confirm" label="Confirm password" auto-validate validator="apollo-passwords-validator" error-message="Password should be more than 7">
        </paper-password-input>

    </template>
    <script>
    Polymer({
        is: "apollo-password",

        behaviors: [
            Polymer.IronValidatorBehavior
        ],
    });
    </script>


</dom-module>
