<!doctype html>
<link rel="import" href="../../bower_components/iron-validator-behavior/iron-validator-behavior.html">

<!--
Validates that the confirm password matches the entered password
-->
<script>

(function() {

	Polymer({
		is: 'apollo-passwords-validator',
		properties: {
			/**
			 * Entered password
			 */
			password: String
		},
		behaviors: [
			Polymer.IronValidatorBehavior
		],

		validate: function(pw) {
			// Ignore if no confirm password was entered
			var lcase = pw.match(/[a-z]/g, '');	
			var ucase = pw.match(/[A-Z]/g, '');	
			var digits = pw.match(/[0-9]/g, '');
			
			var lcnt = 0;
			var ucnt = 0;
			var dcnt = 0;
			var scnt = 0;
			var mcnt = 0;
			
			var ismatch = false;
			
			if(!pw || pw === this.password){
				ismatch = true;
			}	
			
			
			if (lcase != null)
			{
				lcnt = lcase.length;
				mcnt++;
			}
			
			if (ucase != null)
			{
				ucnt = ucase.length;
				mcnt++;
			}
			
			if (digits != null)
			{
				dcnt = digits.length;
				mcnt++;
			}
			
			scnt = pw.length - lcnt - ucnt - dcnt;
			
			if (scnt > 0)
				mcnt++;
			
			if(ismatch && mcnt > 2 && pw.length > 6){
				return true;
			}else{
				return false;
			}
		
			
		}
	});

})();

</script>
