
<link rel="import" href="../../bower_components/paper-styles/color.html">

<dom-module id="apollo-style">

  <template>
<style is="custom-style">

	:root  {
		--apollo-primary-color: #D8D8D8;
		--apollo-accent-color: var(--paper-cyan-500);
        --apollo-warn-color: var(--paper-pink-400);
		--apollo-white: white;

        --apollo-margin: .5rem;
        --apollo-element-height: 40px;

        --apollo-border-style: {
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: var(--apollo-primary-color);
        }

        paper-input {
            --paper-input-color: var(--apollo-primary-color);
            --paper-input-container-color: var(--apollo-primary-color);
            --paper-input-container-focus-color: var(--apollo-accent-color);

            --paper-input-container-input: {
                height: var(--apollo-element-height);
                @apply(--apollo-border-style);
            }

            --paper-input-container-label: {
                margin-top: var(--apollo-margin);
                margin-left: var(--apollo-margin);
            }

            --paper-input-container-label-floating: {                
                margin-top: 0;
                margin-left: var(--apollo-margin);
            }

            --paper-input-container-underline: {
                border-bottom: 0;
            }

        }

        paper-checkbox {
            --paper-checkbox-checked-color: var(--apollo-accent-color);
            --paper-checkbox-checked-ink-color: var(--apollo-accent-color);
            --paper-checkbox-unchecked-color: var(--apollo-accent-color);
            --paper-checkbox-unchecked-ink-color: var(--apollo-accent-color);
            --paper-checkbox-label-color: var(--apollo-primary-color);
        }

        paper-button {
        	--paper-button-ink-color: var(--apollo-accent-color);
        }

        paper-calendar: {
            --primary-text-color: var(--apollo-accent-color);
        }

        .paper-date-picker-dialog {
            background-color: var(--apollo-accent-color);
        }
	}

	paper-button {
        color: var(--apollo-white);
        background: var(--apollo-accent-color);
    }

    paper-button.apollo-white {
            --paper-button-ink-color: var(--apollo-white);
        }

    paper-input {
        max-width: 400px;
        margin-right: 1rem;
    }

    paper-checkbox {
        margin-top: 1.5rem;
    }

    paper-dropdown-menu {
        margin-right: 1rem;
    }

    iron-icon {
    	color: var(--apollo-accent-color);
    }

    iron-icon.paper-dropdown-menu {
        background: var(--apollo-accent-color);
    }

    .paper-date-picker-dialog {
        background-color: var(--apollo-accent-color);
    }

</style>
</template>
</dom-module>

